:host {
  width: 100%;
}

.task-footer{
  display: flex;
  justify-content:space-between;
  color:white;
  align-items: center;
}

.task-selection{
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
button{
  font-size: 16px;

}
