body{
  background: url("assets/bg-desktop-dark.jpg") no-repeat, hsl(235, 21%, 11%) repeat;
  background-size: 100% 30vh;

  width: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
